<h1>Editing Comment</h1>

<%= render 'form' %>

<%= link_to 'Show', subject_comment_path(subject_id: @comment.subject.id, id: @comment.id), class: "btn btn-default btn-xs" %>
 |
<%= link_to 'Back', subject_comments_path(subject_id: @comment.subject.id) %>
